@media only screen and (min-width: 52.5em) {
 h1 {
  font-size: 4.5rem;
 }

 h2 {
  font-size: 3.5rem;
 }

 header {
  display: flex;
  padding: 1px 220px;
  border-radius: 40px;

 }
  nav {
   margin: 0 auto;
   border-radius: 40px;
   background-color: #bfd3e4;
   color: rgb(0, 0, 0);
  }
  
}