body {
 width: 80%;
 margin: auto;
}

header {
 display: flex;
 background-color: #244074;
 color: rgb(251, 252, 253);
}

#image {
 margin-left: 0px;
}

h1 {
 font-size: 1.5rem;
 margin-left: 120px;
}

#assigment {
 font-size: 25px;
 margin-left: 20px;
}

#linklist {
 margin-left: 10px;
 font-size: 23px;
}

footer {
 background-color: #244074;
 text-decoration: none;
 padding: 7px 100px;
 border-radius: 40px;
 color: rgb(251, 252, 253);
 font-size: 25px;
}

#text_footer {
 margin-left: 30%;
}