body {
 width: 80%;
 margin: auto;
}



header {
   background-color: #1D4D72;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 140px;
}

header h1 {
   display: inline;
}

header img {
   width: 80px;
   height: auto;
   margin: 0 30px;

}


nav {
   font-size: 20px;
}

nav a:hover {
   background-color: #1D4D72;
}

nav a:link:active,
nav a:visited:active {
   color: white;
}

.nav-item {
   flex: 1;
   text-align: center;
   padding: 10px;
}


#menu {
   font-size: 1.5rem;
   border: 1px solid #1D4D72;
   padding: 3px 7px ;
   background-color: #ffffff;
   color: #c09a9a;
}

#menu::before {
   content: "☰";
}

#menu.open::before {
   content: "❌";
}

#menu.open {
   padding: 3px 1.5px 6px;
}

.navigation {
   display: flex;
   flex-direction: column;
   list-style: none;
   background-color: black;
   color: #fff;
}

.navigation li {
   display: none;
}

.navigation li a {
   background-color: #1D4D72;
   display: block;
   padding: 1rem;
   text-align: center;
   text-decoration: none;
   color: #fff;
}

.navigation li a:hover {
   background-color: #595958;
   color: white;
   text-decoration: none;

}

.navigation li a:visited,
.navigation li a:link {
   color: white;
   text-decoration: none;
}

.open li {
   display: block;
   width: 100%;
}

.open li a {
   display: block;
}

ul.navigation.open {
   margin: 0;
   padding-left: 0;
}

ul.navigation {
   padding: 0;
   margin: 0;
}

picture img {
   width: 100%;
   height: auto;
}
#image {
 margin-left: -10%;
}


#assigment {
 font-size: 25px;
 margin-left: 20px;
}

#linklist {
 margin-left: 10px;
 font-size: 23px;
}

footer {
 background-color: #244074;
 text-decoration: none;
 padding: 7px 100px;
 color: rgb(251, 252, 253);
 font-size: 25px;
}

#text_footer {
 margin-left: auto;
}

main {
	max-width: 960px;
	margin: 0 auto;
}

.hero {
	margin: 10px ;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
}

iframe{
   max-width: 96%;
   padding: 25px;
   object-fit: cover;
}


section {
   padding: 1rem;
   background-color: #ffffff;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.221);
   margin-bottom: 1rem;
   color: #244074;
}

